In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                                 title  year
0                       Peter Pandesal  1976
1                                 Suri  2000
2                       Blood and Wine  1996
3        Hrazhesht sahmanagtzits andin  1981
4  Churakhaneun geosheun nalgaega itda  1990

In [4]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                               title  year       name   type character     n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22.0
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself   NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27.0
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3.0
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself   NaN

### How many movies are listed in the titles dataframe?

In [5]:
cast.count()

title        3461466
year         3461466
name         3461466
type         3461466
character    3461466
n            2152968
dtype: int64

### What are the earliest two films listed in the titles dataframe?

In [46]:
t = titles
t.sort_values('year').head(2)

                                                 title  year
58959                                       Miss Jerry  1894
181274  Reproduction of the Corbett and Jeffries Fight  1899

### How many movies have the title "Hamlet"?

In [48]:
len(t[t.title == 'Hamlet'])

19

### How many movies are titled "North by Northwest"?

In [49]:
len(t[t.title == 'North by Northwest'])

1

### When was the first movie titled "Hamlet" made?

In [50]:
t[t.title == 'Hamlet'].sort_values('year').head(1)

         title  year
189510  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [51]:
t[t.title.str.startswith('Treasure Island')].sort_values('year')

                                                    title  year
174097                                    Treasure Island  1918
10960                                     Treasure Island  1920
34873                                     Treasure Island  1934
72656                                     Treasure Island  1950
28902                                     Treasure Island  1972
21349                                     Treasure Island  1973
15924                                     Treasure Island  1985
91002                                Treasure Island (II)  1999
145324                                    Treasure Island  1999
67598   Treasure Island Kids: The Battle of Treasure I...  2006
161025  Treasure Island Kids: The Mystery of Treasure ...  2006
171020  Treasure Island Kids: The Monster of Treasure ...  2006

### How many movies were made in the year 1950?

In [52]:
len(t[t.year == 1950])

1060

### How many movies were made in the year 1960?

In [53]:
len(t[t.year == 1960])

1485

### How many movies were made from 1950 through 1959?

In [54]:
len(t[(t.year >= 1950) & (t.year <=1959)])

12261

### In what years has a movie titled "Batman" been released?

In [58]:
t[t.title.str.startswith('Batman')].sort_values('year')

                                     title  year
128098                              Batman  1943
162058                    Batman and Robin  1949
208949                      Batman Dracula  1964
52040                    Batman: The Movie  1966
208578               Batman Fights Dracula  1967
173304                              Batman  1989
51723                       Batman Returns  1992
82352         Batman: Mask of the Phantasm  1993
108617                      Batman Forever  1995
152689                      Batman & Robin  1997
117893                       Batman Begins  2005
205395                       Batman Untold  2010
111890                      Batman Reboots  2010
221662                     Batman Revealed  2012
74776                     Batman: Crusader  2014
110288      Batman: The Dark Knight Beyond  2016
87652   Batman v Superman: Dawn of Justice  2016
171974                     Batman Infinite  2016
87235                      Batman: Anarchy  2016

### How many roles were there in the movie "Inception"?

In [62]:
c = cast
c = c[c.title == 'Inception']
len(c)

76

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [68]:
len(c[c.n.isnull()])

25

### But how many roles in the movie "Inception" did receive an "n" value?

In [69]:
len(c[c.n.notnull()])

51

In [71]:
c.head()

,title,year,name,type,character,n
90012,Inception,2010,Michael (III) August,actor,LAX Passenger,NaN
136738,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44.0
169141,Inception,2010,Tom Berenger,actor,Browning,8.0
182018,Inception,2010,Ken Bhan,actor,Mombasan Gambler,NaN
239613,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29.0

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [84]:
c = cast
c = c[(c.title == 'North by Northwest') & (c.n.notnull())]
c.sort_values('n')

,title,year,name,type,character,n
807018,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3222981,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1348917,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
2900353,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
329558,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2804151,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1569877,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1179980,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2263630,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1676958,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
616429,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2123553,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
429592,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1396775,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
189840,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1281667,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [85]:
c = cast
c = c[(c.title == 'Sleuth') & (c.year == 1972)]
c.sort_values('n')

,title,year,name,type,character,n
1579110,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
301754,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
345575,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1356514,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2513707,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1341168,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [86]:
c = cast
c = c[(c.title == 'Sleuth') & (c.year == 2007)]
c.sort_values('n')

          title  year                 name     type          character    n
301755   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1197131  Sleuth  2007             Jude Law    actor               Milo  2.0
1671929  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
239717   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
345576   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2513706  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3091269  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [88]:
c = cast
c = c[(c.title == 'Hamlet') & (c.year == 1921)]
len(c)

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [90]:
c = cast
c = c[(c.title == 'Hamlet') & (c.year == 1996)]
#c
len(c)

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [93]:
c = cast
c = c[c.character == 'Hamlet']
#c
len(c)

87

### How many people have played an "Ophelia"?

In [94]:
c = cast
c = c[c.character == 'Ophelia']
#c
len(c)

102

### How many people have played a role called "The Dude"?

In [98]:
c = cast
c = c[c.character == 'The Dude']
#c
len(c)

17

### How many people have played a role called "The Stranger"?

In [99]:
c = cast
c = c[c.character == 'The Stranger']
#c
len(c)

203

### How many roles has Sidney Poitier played throughout his career?

In [100]:
c = cast
c = c[c.name == 'Sidney Poitier']
#c
len(c)

43

### How many roles has Judi Dench played?

In [101]:
c = cast
c = c[c.name == 'Judi Dench']
#c
len(c)

54

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [107]:
c = cast
c = c[(c.name == 'Cary Grant') & (c.year // 10 == 194) & (c.n == 2)]
c.sort_values('year')

                   title  year        name   type    character    n
807015  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
807025    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [108]:
c = cast
c = c[(c.name == 'Cary Grant') & (c.year // 10 == 194) & (c.n == 1)]
c.sort_values('year')

,title,year,name,type,character,n
807040,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
806997,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
807042,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
807030,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
807044,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
807021,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
806988,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
807013,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
807014,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
807022,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
806980,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
807017,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
807016,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
807019,Notorious,1946,Cary Grant,actor,Devlin,1.0
807036,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
807037,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
807012,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
806992,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
807001,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [110]:
c = cast
c = c[(c.year // 10 == 195) & (c.type == 'actor')]
len(c)

152229

### How many roles were avilable for actresses in the 1950s?

In [111]:
c = cast
c = c[(c.year // 10 == 195) & (c.type == 'actress')]
len(c)

55286

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [112]:
c = cast
c = c[(c.year <= 1980) & (c.n == 1)]
len(c)

62806

### How many non-leading roles were available through from the beginning of film history through 1980?

In [114]:
c = cast
c = c[(c.year <= 1980) & (c.n != 1)]
len(c)

1076860

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [115]:
c = cast
c = c[(c.year <= 1980) & (c.n.isnull())]
len(c)

430267

In [6]:
titles

                                                    title  year
0                                          Peter Pandesal  1976
1                                                    Suri  2000
2                                          Blood and Wine  1996
3                           Hrazhesht sahmanagtzits andin  1981
4                     Churakhaneun geosheun nalgaega itda  1990
5                                           Stranded (II)  2014
6                                          Aparajita Tumi  2012
7                                           Alien Shadows  2016
8                                     The Canary Protocol  2017
9                                       Zvyozdnyy malchik  1958
10                              Taxi, roulotte et corrida  1958
11                                        Ishq Khuda Hain  1992
12                                             The Rookie  1959
13                                       The Census Taker  1984
14                                        Teenage Thunder  1957
15                                                Leonard  2007
16                                             Poing Mort  2014
17                                             Punishment  2013
18                                           Little Vegas  1990
19                                        Sister's Keeper  2007
20                                    Gu huo lao xun chun  1975
21                                     Rab Ton Sohna Ishq  2013
22                                     Dangerous Liaisons  1988
23                                                Randall  2016
24                                         Sex Drugs Guns  2009
25                                              Geomi sup  2004
26      Little Malcolm and His Struggle Against the Eu...  1974
27            Otona no miru ehon - Umarete wa mita keredo  1932
28                                        1 Navra 3 Bayka  2009
29                                        The Death Dance  1918
...                                                   ...   ...
222255                                   Army of Darkness  1992
222256                               Beomjweui jaeguseong  2004
222257                      TSA Christmas Live: Carolfest  2006
222258                           Moartea lui Joe Indianul  1968
222259                               The Unknown Cavalier  1926
222260                                  The Wedding Video  2007
222261                                     Try and Get It  1924
222262                        Last Summer in the Hamptons  1995
222263                                       Deal with It  2011
222264         Portagli i miei saluti... avanzi di galera  1993
222265                             Kanasu Kannu Theredaga  2015
222266                                       Men's Affair  2008
222267                                          Ana hurra  1958
222268                                 Angels' Wild Women  1972
222269                                     Drinking Games  2012
222270                                          Same Page  2013
222271                            Trevozhnoye voskresenye  1983
222272                                     Colpo in canna  1975
222273                                          Raja Babu  2006
222274                                Zerkalo dlya geroya  1988
222275                                       Four Friends  1981
222276                                In the Mirror Dimly  2007
222277                                             Sairen  2006
222278                                           Anarkali  1953
222279                           Gebissen wird nur nachts  1971
222280                               Cronicas de un Cholo  2004
222281                                   Scent of a Woman  1992
222282                                 Flucht nach Berlin  1961
222283                                           Padheyam  1993
222284                                    Sangharsh Yatra  2016

[222285 rows x 2 columns]

In [7]:
len(titles)

222285

In [8]:
titles.columns

Index(['title', 'year'], dtype='object')

In [9]:
h = titles.head()

In [10]:
h['year'] // 10 * 10

0    1970
1    2000
2    1990
3    1980
4    1990
Name: year, dtype: int64

In [11]:
h.year #> 1985

0    1976
1    2000
2    1996
3    1981
4    1990
Name: year, dtype: int64

In [12]:
h[(h.year<1985) & (h.year>=1977)]

                           title  year
3  Hrazhesht sahmanagtzits andin  1981

In [15]:
t = titles

In [27]:
t[t.title == 'Macbeth'].sort_values('year').head()

          title  year
134055  Macbeth  1913
31210   Macbeth  1916
121584  Macbeth  1948
32333   Macbeth  1987
185968  Macbeth  1997

In [26]:
t.year.sort_values()

58959     1894
181274    1899
48973     1900
135105    1900
23170     1900
146116    1900
66339     1903
84998     1905
40357     1905
101427    1906
54507     1906
49036     1906
15005     1906
220484    1906
193137    1907
136581    1907
62326     1907
69235     1907
10494     1908
41796     1908
177418    1908
1994      1908
214380    1908
77785     1908
125751    1909
32685     1909
216181    1909
216203    1909
192394    1909
27066     1909
          ...
108536    2020
40531     2020
134949    2020
214657    2020
7096      2020
96451     2020
51176     2020
128313    2021
187403    2021
190945    2021
149201    2021
33648     2021
8528      2021
116701    2021
163390    2021
180490    2021
202686    2021
200347    2022
100341    2022
116581    2022
134021    2022
27978     2022
153422    2022
190631    2022
201181    2023
149724    2023
110528    2023
111216    2023
119662    2023
187015    2023
Name: year, dtype: int64

In [28]:
cast

,title,year,name,type,character,n
0,Suuri illusioni,1985,Homo $,actor,Guests,22.0
1,Gangsta Rap: The Glockumentary,2007,Too $hort,actor,Himself,NaN
2,Menace II Society,1993,Too $hort,actor,Lew-Loc,27.0
3,Porndogs: The Adventures of Sadie,2009,Too $hort,actor,Bosco,3.0
4,Stop Pepper Palmer,2014,Too $hort,actor,Himself,NaN
5,Townbiz,2010,Too $hort,actor,Himself,NaN
6,For Thy Love 2,2009,Bee Moe $lim,actor,Thug 1,NaN
7,Desire (III),2014,Syaiful 'Ariffin,actor,Actor Playing Eteocles from 'Antigone',NaN
8,When the Man Went South,2014,Taipaleti 'Atu'ake,actor,Two Palms - Ua'i Paame,8.0
9,Little Angel (Angelita),2015,Michael 'babeepower' Viera,actor,Chico,9.0
10,Mixing Nia,1998,Michael 'babeepower' Viera,actor,Rapper,NaN
11,The Replacements,2000,Steven 'Bear'Boyd,actor,Defensive Tackle - Washington Sentinels,NaN
12,All Out Dysfunktion!,2016,Kirlew 'bliss' Vilbon,actor,Bliss,NaN
13,My Song for You,2010,George 'Bootsy' Thomas,actor,Cooley's Customer,16.0
14,My Song for You,2010,George 'Bootsy' Thomas,actor,Celebration Guest,16.0
15,B-Girl,2009,Jesse 'Casper' Brown,actor,Battle Judge,25.0
16,Battle of the Year,2013,Jesse 'Casper' Brown,actor,Rebel,9.0
17,Kickin' It Old Skool,2007,Jesse 'Casper' Brown,actor,Cole,10.0
18,Step Up All In,2014,Jesse 'Casper' Brown,actor,Grim Knight Dancer,61.0
19,The LXD: The Secrets of the Ra,2013,Jesse 'Casper' Brown,actor,Fangz,NaN
20,Todo x Sara,2014,Gil 'Colibri'Viera,actor,Llavero,NaN
21,Barrio Gangsters,2009,Marcelino 'Dibujo' Torres,actor,Dibujo,NaN
22,"Cornmeal, Gunpowder, Ham Hocks and Guitar Strings",2015,Donnie 'Dicky' Clemson,actor,Jeb Kinney,NaN
23,The LXD: The Secrets of the Ra,2013,Dondraico 'Draico' Johnson,actor,Umbra,NaN
24,Pelotazo nacional,1993,F?lix 'El Gato',actor,Rebolledo,12.0
25,Los tarantos,1963,'El Guisa',actor,Bailaor,25.0
26,De la calle,2001,Luis 'El Plojo',actor,Froil?n plaza del estudiante,80.0
27,Los tarantos,1963,'El Viti',actor,Cantaor,20.0
28,They Want Dick Dickster,2015,Zhavier' (II) 'Fox,actor,Dr. Shrinkalotsky,25.0
29,Mahogany Sunrise,2014,Gilberto 'Ghetto Bird' Bahena,actor,Jesse,21.0
...,...,...,...,...,...,...
3461436,Musallat,2007,Serap ?st?n,actress,Zeynep,NaN
3461437,Acliga Doymak,2012,Zeyno ?st?nisik,actress,Selma,NaN
3461438,Askin kesisme noktasi,1990,Zuhal ?st?ntas,actress,Hira Ana,NaN
3461439,Dislanmis/Lekeli melek,1993,Zuhal ?st?ntas,actress,Fatma,NaN
3461440,Bhaag Milkha Bhaag,2013,Pr?ity ?upala,actress,Journalist (2013),NaN
3461441,From Sydney with Love,2012,Pr?ity ?upala,actress,Shruti (2012),NaN
3461442,Orange,2010,Pr?ity ?upala,actress,Usha (2010),NaN
3461443,Sex and the City 2,2010,Pr?ity ?upala,actress,Shopper (2010),NaN
3461444,Singh Is Kinng,2008,Pr?ity ?upala,actress,Puja (2008),NaN
3461445,Thalaivaa,2013,Pr?ity ?upala,actress,Pooja (2013),NaN
3461446,The Sky Has Fallen,2009,Pr?ity ?upala,actress,Skylar,NaN
3461447,Virsa,2010,Pr?ity ?upala,actress,Prema,NaN
3461448,Gise Memuru,2010,Sevin? ??ok,actress,Afar Shouting Woman,18.0
3461449,Issiz Adam,2008,Sevin? ??ok,actress,Ece,NaN
3461450,Niceland (Population. 1.000.002),2004,Hugr?n ?orfinnsd?ttir,actress,Diana,10.0
3461451,Eldfjall,2011,Katla M. ?orgeirsd?ttir,actress,Home Nurse,NaN
3461452,The Oath,2016,Mar?a Heba ?orkelsd?ttir,actress,M??ir,NaN
3461453,Nei er ekkert svar,1995,Gu?r?n B. ?orsteinsd?ttir,actress,Part?gestir,46.0
3461454,Agnes,1995,Ingibj?rg ?orsteinsd?ttir,actress,Kona,25.0
3461455,Beowulf & Grendel,2005,Steinunn ?l?na ?orsteinsd?ttir,actress,Wealtheow,15.0
3461456,Dansinn,1998,Lilja Gu?r?n ?orvaldsd?ttir,actress,S?slumannafr?in,13.0
3461457,Foreldrar,2007,Lilja Gu?r?n ?orvaldsd?ttir,actress,Katrin Eldri,NaN
3461458,Rokland,2011,Lilja Gu?r?n ?orvaldsd?ttir,actress,A?albj?rg - Dagga's Mother,NaN
3461459,XL,2013,Lilja Gu?r?n ?orvaldsd?ttir,actress,Tengdamamma,NaN
3461460,Niceland (Population. 1.000.002),2004,Steinunn ?orvaldsd?ttir,actress,Factory Worker,21.0
3461461,Stuttur Frakki,1993,Sveinbj?rg ??rhallsd?ttir,actress,Flugfreyja,24.0
3461462,Foxtrot,1988,Lilja ??risd?ttir,actress,D?ra,24.0
3461463,Niceland (Population. 1.000.002),2004,Sigr??ur J?na ??risd?ttir,actress,Woman in Bus,26.0
3461464,U.S.S.S.S...,2003,Krist?n Andrea ??r?ard?ttir,actress,Afgr.dama ? bens?nst??,17.0
3461465,Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,NaN

In [35]:
h = cast.head()
h = h[h.n.notnull()]
h

                               title  year       name   type character     n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22.0
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27.0
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3.0

In [36]:
h = cast.head()
h = h[h.n.isnull()]
h

                            title  year       name   type character   n
1  Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself NaN
4              Stop Pepper Palmer  2014  Too $hort  actor   Himself NaN

In [41]:
c = titles
c[c.title.str.startswith('Hamlet')]

                                title  year
4401                     Hamlet (III)  2007
16316   Hamlet: The Fall of a Sparrow  2016
19157    Hamlet (A Modern Adaptation)  2016
28084                          Hamlet  1987
34727                          Hamlet  2011
39656       Hamlet, Prince of Denmark  1997
48428                  Hamlet Unbound  2012
56805                          Hamlet  1954
59040                    Hamlet (III)  2016
59668                     Hamlet (II)  2015
63174        Hamlet, Son of a Kingpin  2015
71982          Hamlet liikemaailmassa  1987
74171                          Hamlet  1973
74453                          Hamlet  2009
83077                   Hamlet A.D.D.  2014
83213                          Hamlet  1913
90511                          Hamlet  2014
96901       Hamlet: Prince of Denmark  1989
100575                         Hamlet  1996
102262      Hamlet the Vampire Slayer  2008
121884         Hamlet in the Hamptons  2002
127583                         Hamlet  1911
128975                       Hamlet X  2004
137445                         Hamlet  1948
140141                    Hamlet (II)  2007
146769                         Hamlet  1969
152766                         Hamlet  1921
158253                         Hamlet  1976
162538                         Hamlet  2015
164880                         Hamlet  2016
176139                         Hamlet  2000
177454                    Hamlet (II)  2016
180335                    Hamlet (II)  2005
189510                         Hamlet  1910
193546                 Hamlet's Ghost  2015
200147                         Hamlet  1990
205273                    Hamlet (II)  1964
208382                       Hamlet_X  2003
212231                         Hamlet  1964
213838                       Hamlet 2  2008
219542                    Hamlet (IV)  2016